<section class="footer1">
    <div class="footer_links">
        <p class="footer_title">Links</p>
        <p class="footer_link"><a href="/">Home</a></p>
        <p class="footer_link"><a href="/planos">Planos</a></p>
        <p class="footer_link"><a href="#servicos">Serviços</a></p>
        <p class="footer_link"><a href="/sobre">Sobre Nós</a></p>
        <p class="footer_link"><a href="./ajuda.html">Ajuda</a></p>
        <p class="footer_link"><a href="#atendimento">Canal de Atendimento</a></p>
    </div>
    <div class="footer_socials">
        <p>Siga nossas redes sociais:</p>
        <div style="display: flex;">
            <div class="footer_socials_icons">
                <div class="footer_socials_icon">
                    <img src="phoneIcon.svg" alt="Telefone" class="icon">
                    <p class="footer_link"><a href="tel:(19)39629867">(19) 3962-9867</a></p>
                </div>
                <div class="footer_socials_icon">
                    <img src="instagramIcon.svg" alt="Instagram" class="icon">
                    <p class="footer_link"><a href="https://instagram.com">@clinicagreenside</a></p>
                </div>
            </div>
            <div class="footer_socials_icons">
                <div class="footer_socials_icon">
                    <img src="phoneIcon.svg" alt="Telefone" class="icon">
                    <p class="footer_link"><a href="tel:(19)82180762">(19) 8218-0762</a></p>
                </div>
                <div class="footer_socials_icon">
                    <img src="facebookIcon.svg" alt="Facebook" class="icon">
                    <p class="footer_link"><a href="https://facebook.com">@clinicagreenside</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_logo">
        <img src="logo3.png" alt="Logo Greenside">
    </div>
</section>
<section class="footer2">
    <p>Clínica Greenside - Todos os direitos reservados</p>
</section>